
extends layout

block append vars
  - bodyclass = 'article-detail'
  - linkTitle = true

block prepend title
  | #{ page.title + " - "}


block content
  include author
  - var editUrl = 'https://github.com/smithamax/doyouevenpipe.io/edit/master/contents/' + page.filepath.relative;
  
  article
    header
      h1= page.title
      p
        time= moment.utc(page.metadata.date).format('D MMMM YYYY')
        | #{ " • "}
        mixin author(page.metadata.author)
        
    main!= typogr(page.html).typogrify()

    footer
      p
        if page.metadata.license
          include license
          | #{ "This work by " }
          mixin author(page.metadata.author)
          | #{ " is licensed under a "}
          mixin license(page.metadata.license)
        a(href=editUrl) edit
