extends layout

block content
  include author
  include license
  
  each article in articles
    article
      header
        h1
          a(href=article.url)= article.title
        p
          time= moment.utc(article.metadata.date).format('D MMMM YYYY')
          | #{ " • "}
          mixin author(article.metadata.author)
          if article.metadata.license
            | #{ " • " + article.metadata.license }
          
      main!= typogr(article.intro).typogrify()

      footer
        a(href=article.url) Read More
            

block prepend footer
  nav
    if prevPage
      a(href=prevPage.url) Back
    else
      a(href='/archive.html') Archives
    if nextPage
      | #{ " | "}
      a(href=nextPage.url) Next
